.input-box {
  flex: 1;
  input {
    padding: 0.4rem 0.2rem;
    border: 1px solid #aaa;
    border-radius: var(--border-radius-default);
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 100%;
  }

  label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
  }
}
