.input-box {
  flex: 1;

  // & > div:last-child {
  //   flex: 1;
  // }

  input,
  textarea {
    padding: 0.2rem 0.8rem;

    font-size: 1.7rem;
    width: 100%;
    outline: none;
  }

  textarea {
    max-width: 100%;
    resize: vertical;
    min-height: 10rem;
    height: 30rem;
  }

  label {
    display: block;
    font-size: 1.4rem;
  }
}
