*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-main: #4f4fec;
  --color-text-main: #333;
  --color-text-white: #fff;
  --color-default-grey: #aaa;
  --border-radius-default: 4px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text-main);
}

main {
  padding-bottom: 8rem;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.multi-select,
.multi-select * {
  cursor: pointer;
}
